In [1]:
import pandas as pd

In [3]:
pd.read_csv("movies.csv")

,Rank,Title,Studio,Gross,Year
0,1,Avengers: Endgame,Buena Vista,"$2,796.30",2019
1,2,Avatar,Fox,"$2,789.70",2009
2,3,Titanic,Paramount,"$2,187.50",1997
3,4,Star Wars: The Force Awakens,Buena Vista,"$2,068.20",2015
4,5,Avengers: Infinity War,Buena Vista,"$2,048.40",2018
5,6,Jurassic World,Universal,"$1,671.70",2015
6,7,Marvel's The Avengers,Buena Vista,"$1,518.80",2012
7,8,Furious 7,Universal,"$1,516.00",2015
8,9,Avengers: Age of Ultron,Buena Vista,"$1,405.40",2015
9,10,Black Panther,Buena Vista,"$1,346.90",2018
10,11,Harry Potter and the Deathly Hallows Part 2,Warner Brothers,"$1,341.70",2011
11,12,Star Wars: The Last Jedi,Buena Vista,"$1,332.50",2017
12,13,Jurassic World: Fallen Kingdom,Universal,"$1,309.50",2018
13,14,Frozen,Buena Vista,"$1,276.50",2013
14,15,Beauty and the Beast,Buena Vista,"$1,263.50",2017
15,16,Incredibles 2,Buena Vista,"$1,242.80",2018
16,17,The Fate of the Furious,Universal,"$1,236.00",2017
17,18,Iron Man 3,Buena Vista,"$1,214.80",2013
18,19,Minions,Universal,"$1,159.40",2015
19,20,Captain America: Civil War,Buena Vista,"$1,153.30",2016
20,21,Aquaman,Warner Brothers,"$1,148.00",2018
21,22,Captain Marvel,Buena Vista,"$1,128.30",2019
22,23,Transformers: Dark of the Moon,Paramount,"$1,123.80",2011
23,24,The Lord of the Rings: The Return of the King,New Line,"$1,119.90",2003
24,25,Skyfall,Sony,"$1,108.60",2012
25,26,Transformers: Age of Extinction,Paramount,"$1,104.10",2014
26,27,The Dark Knight Rises,Warner Brothers,"$1,084.90",2012
27,28,Toy Story 3,Buena Vista,"$1,067.00",2010
28,29,Pirates of the Caribbean: Dead Man's Chest,Buena Vista,"$1,066.20",2006
29,30,Rogue One: A Star Wars Story,Buena Vista,"$1,056.10",2016
...,...,...,...,...,...
752,753,Philadelphia,TriStar,$206.70,1993
753,754,Sleepy Hollow,Paramount,$206.10,1999
754,755,The Jungle Book,Buena Vista,$205.80,1967
755,756,London Has Fallen,Focus,$205.80,2016
756,757,Journey to the West,Magn.,$205.60,2014
757,758,JFK,Warner Brothers,$205.40,1991
758,759,White House Down,Sony,$205.40,2013
759,760,The Ugly Truth,Sony,$205.30,2009
760,761,The Holiday,Sony,$205.10,2006
761,762,A Dog's Purpose,Universal,$205.00,2017
762,763,The Break-Up,Universal,$205.00,2006
763,764,Eat Pray Love,Sony,$204.60,2010
764,765,King Arthur,Buena Vista,$203.60,2004
765,766,Everest,Universal,$203.40,2015
766,767,Vanilla Sky,Paramount,$203.40,2001
767,768,Arrival,Paramount,$203.40,2016
768,769,Need for Speed,Buena Vista,$203.30,2014
769,770,Hairspray,New Line,$202.50,2007
770,771,Ponyo,Buena Vista,$202.40,2009
771,772,Patch Adams,Universal,$202.30,1998
772,773,Fun with Dick and Jane,Sony,$202.00,2005
773,774,Teenage Mutant Ninja Turtles,New Line,$202.00,1990
774,775,Kindergarten Cop,Universal,$202.00,1990
775,776,Straight Outta Compton,Universal,$201.60,2015
776,777,21 Jump Street,Sony,$201.60,2012
777,778,Yogi Bear,Warner Brothers,$201.60,2010
778,779,Garfield: The Movie,Fox,$200.80,2004
779,780,Cats & Dogs,Warner Brothers,$200.70,2001
780,781,The Hunt for Red October,Paramount,$200.50,1990
781,782,Valkyrie,MGM,$200.30,2008

In [5]:
pd.read_csv("movies.csv", index_col="Title")

,Rank,Studio,Gross,Year
Title,,,,
Avengers: Endgame,1,Buena Vista,"$2,796.30",2019
Avatar,2,Fox,"$2,789.70",2009
Titanic,3,Paramount,"$2,187.50",1997
Star Wars: The Force Awakens,4,Buena Vista,"$2,068.20",2015
Avengers: Infinity War,5,Buena Vista,"$2,048.40",2018
Jurassic World,6,Universal,"$1,671.70",2015
Marvel's The Avengers,7,Buena Vista,"$1,518.80",2012
Furious 7,8,Universal,"$1,516.00",2015
Avengers: Age of Ultron,9,Buena Vista,"$1,405.40",2015
Black Panther,10,Buena Vista,"$1,346.90",2018
Harry Potter and the Deathly Hallows Part 2,11,Warner Brothers,"$1,341.70",2011
Star Wars: The Last Jedi,12,Buena Vista,"$1,332.50",2017
Jurassic World: Fallen Kingdom,13,Universal,"$1,309.50",2018
Frozen,14,Buena Vista,"$1,276.50",2013
Beauty and the Beast,15,Buena Vista,"$1,263.50",2017
Incredibles 2,16,Buena Vista,"$1,242.80",2018
The Fate of the Furious,17,Universal,"$1,236.00",2017
Iron Man 3,18,Buena Vista,"$1,214.80",2013
Minions,19,Universal,"$1,159.40",2015
Captain America: Civil War,20,Buena Vista,"$1,153.30",2016
Aquaman,21,Warner Brothers,"$1,148.00",2018
Captain Marvel,22,Buena Vista,"$1,128.30",2019
Transformers: Dark of the Moon,23,Paramount,"$1,123.80",2011
The Lord of the Rings: The Return of the King,24,New Line,"$1,119.90",2003
Skyfall,25,Sony,"$1,108.60",2012
Transformers: Age of Extinction,26,Paramount,"$1,104.10",2014
The Dark Knight Rises,27,Warner Brothers,"$1,084.90",2012
Toy Story 3,28,Buena Vista,"$1,067.00",2010
Pirates of the Caribbean: Dead Man's Chest,29,Buena Vista,"$1,066.20",2006
Rogue One: A Star Wars Story,30,Buena Vista,"$1,056.10",2016
...,...,...,...,...
Philadelphia,753,TriStar,$206.70,1993
Sleepy Hollow,754,Paramount,$206.10,1999
The Jungle Book,755,Buena Vista,$205.80,1967
London Has Fallen,756,Focus,$205.80,2016
Journey to the West,757,Magn.,$205.60,2014
JFK,758,Warner Brothers,$205.40,1991
White House Down,759,Sony,$205.40,2013
The Ugly Truth,760,Sony,$205.30,2009
The Holiday,761,Sony,$205.10,2006
A Dog's Purpose,762,Universal,$205.00,2017
The Break-Up,763,Universal,$205.00,2006
Eat Pray Love,764,Sony,$204.60,2010
King Arthur,765,Buena Vista,$203.60,2004
Everest,766,Universal,$203.40,2015
Vanilla Sky,767,Paramount,$203.40,2001
Arrival,768,Paramount,$203.40,2016
Need for Speed,769,Buena Vista,$203.30,2014
Hairspray,770,New Line,$202.50,2007
Ponyo,771,Buena Vista,$202.40,2009
Patch Adams,772,Universal,$202.30,1998
Fun with Dick and Jane,773,Sony,$202.00,2005
Teenage Mutant Ninja Turtles,774,New Line,$202.00,1990
Kindergarten Cop,775,Universal,$202.00,1990
Straight Outta Compton,776,Universal,$201.60,2015
21 Jump Street,777,Sony,$201.60,2012
Yogi Bear,778,Warner Brothers,$201.60,2010
Garfield: The Movie,779,Fox,$200.80,2004
Cats & Dogs,780,Warner Brothers,$200.70,2001
The Hunt for Red October,781,Paramount,$200.50,1990
Valkyrie,782,MGM,$200.30,2008

In [7]:
movies = pd.read_csv("movies.csv", index_col="Title")

In [9]:
movies.head(4)

                              Rank       Studio       Gross  Year
Title
Avengers: Endgame                1  Buena Vista  $2,796.30   2019
Avatar                           2          Fox  $2,789.70   2009
Titanic                          3    Paramount  $2,187.50   1997
Star Wars: The Force Awakens     4  Buena Vista  $2,068.20   2015

In [11]:
len(movies)

782

In [12]:
movies.shape

(782, 4)

In [13]:
movies.size

3128

In [14]:
movies.ndim

2

In [16]:
movies.iloc[499]

Rank           500
Studio         Fox
Gross     $288.30
Year          2018
Name: Maze Runner: The Death Cure, dtype: object

In [18]:
movies.loc["Forrest Gump"]

Rank            119
Studio    Paramount
Gross      $677.90
Year           1994
Name: Forrest Gump, dtype: object

In [20]:
movies.loc["101 Dalmatians"]

                Rank       Studio     Gross  Year
Title
101 Dalmatians   425  Buena Vista  $320.70   1996
101 Dalmatians   708  Buena Vista  $215.90   1961

In [22]:
movies.sort_values('Year', ascending=False).head()

,Rank,Studio,Gross,Year
Title,,,,
Avengers: Endgame,1,Buena Vista,"$2,796.30",2019
John Wick: Chapter 3 - Parabellum,458,Lionsgate,$304.70,2019
The Wandering Earth,114,China Film Corporation,$699.80,2019
Toy Story 4,198,Buena Vista,$519.80,2019
How to Train Your Dragon: The Hidden World,199,Universal,$519.80,2019

In [24]:
movies.sort_values(["Studio", "Year"]).head()

                         Rank       Studio     Gross  Year
Title
The Blair Witch Project   588      Artisan  $248.60   1999
101 Dalmatians            708  Buena Vista  $215.90   1961
The Jungle Book           755  Buena Vista  $205.80   1967
Who Framed Roger Rabbit   410  Buena Vista  $329.80   1988
Dead Poets Society        636  Buena Vista  $235.90   1989

In [26]:
movies.sort_index().head()

                  Rank           Studio     Gross  Year
Title
10,000 B.C.        536  Warner Brothers  $269.80   2008
101 Dalmatians     708      Buena Vista  $215.90   1961
101 Dalmatians     425      Buena Vista  $320.70   1996
2 Fast 2 Furious   632        Universal  $236.40   2003
2012                93             Sony  $769.70   2009

In [28]:
movies["Studio"]

Title
Avengers: Endgame                                    Buena Vista
Avatar                                                       Fox
Titanic                                                Paramount
Star Wars: The Force Awakens                         Buena Vista
Avengers: Infinity War                               Buena Vista
Jurassic World                                         Universal
Marvel's The Avengers                                Buena Vista
Furious 7                                              Universal
Avengers: Age of Ultron                              Buena Vista
Black Panther                                        Buena Vista
Harry Potter and the Deathly Hallows Part 2      Warner Brothers
Star Wars: The Last Jedi                             Buena Vista
Jurassic World: Fallen Kingdom                         Universal
Frozen                                               Buena Vista
Beauty and the Beast                                 Buena Vista
Incredibles 2                                        Buena Vista
The Fate of the Furious                                Universal
Iron Man 3                                           Buena Vista
Minions                                                Universal
Captain America: Civil War                           Buena Vista
Aquaman                                          Warner Brothers
Captain Marvel                                       Buena Vista
Transformers: Dark of the Moon                         Paramount
The Lord of the Rings: The Return of the King           New Line
Skyfall                                                     Sony
Transformers: Age of Extinction                        Paramount
The Dark Knight Rises                            Warner Brothers
Toy Story 3                                          Buena Vista
Pirates of the Caribbean: Dead Man's Chest           Buena Vista
Rogue One: A Star Wars Story                         Buena Vista
                                                      ...
Philadelphia                                             TriStar
Sleepy Hollow                                          Paramount
The Jungle Book                                      Buena Vista
London Has Fallen                                          Focus
Journey to the West                                        Magn.
JFK                                              Warner Brothers
White House Down                                            Sony
The Ugly Truth                                              Sony
The Holiday                                                 Sony
A Dog's Purpose                                        Universal
The Break-Up                                           Universal
Eat Pray Love                                               Sony
King Arthur                                          Buena Vista
Everest                                                Universal
Vanilla Sky                                            Paramount
Arrival                                                Paramount
Need for Speed                                       Buena Vista
Hairspray                                               New Line
Ponyo                                                Buena Vista
Patch Adams                                            Universal
Fun with Dick and Jane                                      Sony
Teenage Mutant Ninja Turtles                            New Line
Kindergarten Cop                                       Universal
Straight Outta Compton                                 Universal
21 Jump Street                                              Sony
Yogi Bear                                        Warner Brothers
Garfield: The Movie                                          Fox
Cats & Dogs                                      Warner Brothers
The Hunt for Red October                               Paramount
Valkyrie                                                     MGM
Name: Studio, Length: 782, dtype: object

In [30]:
movies["Studio"].value_counts().head(10)

Warner Brothers    132
Buena Vista        125
Fox                117
Universal          109
Sony                86
Paramount           76
Dreamworks          27
Lionsgate           21
New Line            16
MGM                 11
Name: Studio, dtype: int64

In [32]:
movies[movies["Studio"] == "Universal"]

                                            Rank     Studio       Gross  Year
Title
Jurassic World                                 6  Universal  $1,671.70   2015
Furious 7                                      8  Universal  $1,516.00   2015
Jurassic World: Fallen Kingdom                13  Universal  $1,309.50   2018
The Fate of the Furious                       17  Universal  $1,236.00   2017
Minions                                       19  Universal  $1,159.40   2015
Despicable Me 3                               32  Universal  $1,034.80   2017
Jurassic Park                                 33  Universal  $1,029.50   1993
Despicable Me 2                               41  Universal    $970.80   2013
The Secret Life of Pets                       63  Universal    $875.50   2016
E.T.: The Extra-Terrestrial                   84  Universal    $792.90   1982
Fast & Furious 6                              86  Universal    $788.70   2013
Sing                                         134  Universal    $634.20   2016
Fast Five                                    138  Universal    $626.10   2011
The Lost World: Jurassic Park                146  Universal    $618.60   1997
Mamma Mia!                                   148  Universal    $609.90   2008
Fifty Shades of Grey                         165  Universal    $571.00   2015
King Kong                                    172  Universal    $550.50   2005
Ted                                          173  Universal    $549.40   2012
Despicable Me                                181  Universal    $543.10   2010
How to Train Your Dragon: The Hidden World   199  Universal    $519.80   2019
Meet the Fockers                             201  Universal    $516.60   2004
Dr. Seuss' The Grinch                        202  Universal    $511.60   2018
Bruce Almighty                               216  Universal    $484.60   2003
Jaws                                         228  Universal    $470.70   1975
Lucy                                         235  Universal    $463.40   2014
The Bourne Ultimatum                         249  Universal    $442.80   2007
Les Miserables                               251  Universal    $441.80   2012
Warcraft                                     257  Universal    $433.70   2016
The Mummy Returns                            259  Universal    $433.00   2001
The Mummy                                    270  Universal    $415.90   1999
...                                          ...        ...         ...   ...
Love Actually                                593  Universal    $246.90   2003
Hulk                                         601  Universal    $245.40   2003
Back to the Future Part III                  607  Universal    $244.50   1990
8 Mile                                       612  Universal    $242.90   2002
2 Fast 2 Furious                             632  Universal    $236.40   2003
American Pie                                 638  Universal    $235.50   1999
American Reunion                             639  Universal    $235.00   2012
American Wedding                             648  Universal    $231.40   2003
Mr. Bean's Holiday                           654  Universal    $229.70   2007
Out of Africa                                662  Universal    $227.50   1985
The Secret Life of Pets 2                    670  Universal    $225.90   2019
Non-Stop                                     678  Universal    $222.80   2014
It's Complicated                             692  Universal    $219.10   2009
Knocked Up                                   693  Universal    $219.10   2007
Dracula Untold                               699  Universal    $217.10   2014
Ted 2                                        702  Universal    $216.70   2015
Twins                                        704  Universal    $216.60   1988
Public Enemies                               719  Universal    $214.10   2009
The Bourne Identity                          720  Universal    $214.00   2002
End of Days                                  732  Universal    $212.00   1999
Bridget Jones's Baby                         733  Universal    $212.00   2016
Red Dragon                                   744  Universal    $209.20   2002
Safe House                                   748  Universal    $208.10   2012
The Fast and the Furious                     751  Universal    $207.30   2001
A Dog's Purpose                              762  Universal    $205.00   2017
The Break-Up                                 763  Universal    $205.00   2006
Everest                                      766  Universal    $203.40   2015
Patch Adams                                  772  Universal    $202.30   1998
Kindergarten Cop                             775  Universal    $202.00   1990
Straight Outta Compton                       776  Universal    $201.60   2015

[109 rows x 4 columns]

In [34]:
released_by_universal = movies["Studio"] == "Universal"
movies[released_by_universal]

                                            Rank     Studio       Gross  Year
Title
Jurassic World                                 6  Universal  $1,671.70   2015
Furious 7                                      8  Universal  $1,516.00   2015
Jurassic World: Fallen Kingdom                13  Universal  $1,309.50   2018
The Fate of the Furious                       17  Universal  $1,236.00   2017
Minions                                       19  Universal  $1,159.40   2015
Despicable Me 3                               32  Universal  $1,034.80   2017
Jurassic Park                                 33  Universal  $1,029.50   1993
Despicable Me 2                               41  Universal    $970.80   2013
The Secret Life of Pets                       63  Universal    $875.50   2016
E.T.: The Extra-Terrestrial                   84  Universal    $792.90   1982
Fast & Furious 6                              86  Universal    $788.70   2013
Sing                                         134  Universal    $634.20   2016
Fast Five                                    138  Universal    $626.10   2011
The Lost World: Jurassic Park                146  Universal    $618.60   1997
Mamma Mia!                                   148  Universal    $609.90   2008
Fifty Shades of Grey                         165  Universal    $571.00   2015
King Kong                                    172  Universal    $550.50   2005
Ted                                          173  Universal    $549.40   2012
Despicable Me                                181  Universal    $543.10   2010
How to Train Your Dragon: The Hidden World   199  Universal    $519.80   2019
Meet the Fockers                             201  Universal    $516.60   2004
Dr. Seuss' The Grinch                        202  Universal    $511.60   2018
Bruce Almighty                               216  Universal    $484.60   2003
Jaws                                         228  Universal    $470.70   1975
Lucy                                         235  Universal    $463.40   2014
The Bourne Ultimatum                         249  Universal    $442.80   2007
Les Miserables                               251  Universal    $441.80   2012
Warcraft                                     257  Universal    $433.70   2016
The Mummy Returns                            259  Universal    $433.00   2001
The Mummy                                    270  Universal    $415.90   1999
...                                          ...        ...         ...   ...
Love Actually                                593  Universal    $246.90   2003
Hulk                                         601  Universal    $245.40   2003
Back to the Future Part III                  607  Universal    $244.50   1990
8 Mile                                       612  Universal    $242.90   2002
2 Fast 2 Furious                             632  Universal    $236.40   2003
American Pie                                 638  Universal    $235.50   1999
American Reunion                             639  Universal    $235.00   2012
American Wedding                             648  Universal    $231.40   2003
Mr. Bean's Holiday                           654  Universal    $229.70   2007
Out of Africa                                662  Universal    $227.50   1985
The Secret Life of Pets 2                    670  Universal    $225.90   2019
Non-Stop                                     678  Universal    $222.80   2014
It's Complicated                             692  Universal    $219.10   2009
Knocked Up                                   693  Universal    $219.10   2007
Dracula Untold                               699  Universal    $217.10   2014
Ted 2                                        702  Universal    $216.70   2015
Twins                                        704  Universal    $216.60   1988
Public Enemies                               719  Universal    $214.10   2009
The Bourne Identity                          720  Universal    $214.00   2002
End of Days                                  732  Universal    $212.00   1999
Bridget Jones's Baby                         733  Universal    $212.00   2016
Red Dragon                                   744  Universal    $209.20   2002
Safe House                                   748  Universal    $208.10   2012
The Fast and the Furious                     751  Universal    $207.30   2001
A Dog's Purpose                              762  Universal    $205.00   2017
The Break-Up                                 763  Universal    $205.00   2006
Everest                                      766  Universal    $203.40   2015
Patch Adams                                  772  Universal    $202.30   1998
Kindergarten Cop                             775  Universal    $202.00   1990
Straight Outta Compton                       776  Universal    $201.60   2015

[109 rows x 4 columns]

In [35]:
released_by_universal = movies["Studio"] == "Universal"
released_in_2015 = movies["Year"] == 2015
movies[released_by_universal & released_in_2015]

                        Rank     Studio       Gross  Year
Title
Jurassic World             6  Universal  $1,671.70   2015
Furious 7                  8  Universal  $1,516.00   2015
Minions                   19  Universal  $1,159.40   2015
Fifty Shades of Grey     165  Universal    $571.00   2015
Pitch Perfect 2          504  Universal    $287.50   2015
Ted 2                    702  Universal    $216.70   2015
Everest                  766  Universal    $203.40   2015
Straight Outta Compton   776  Universal    $201.60   2015

In [37]:
movies[released_by_universal | released_in_2015]

,Rank,Studio,Gross,Year
Title,,,,
Star Wars: The Force Awakens,4,Buena Vista,"$2,068.20",2015
Jurassic World,6,Universal,"$1,671.70",2015
Furious 7,8,Universal,"$1,516.00",2015
Avengers: Age of Ultron,9,Buena Vista,"$1,405.40",2015
Jurassic World: Fallen Kingdom,13,Universal,"$1,309.50",2018
The Fate of the Furious,17,Universal,"$1,236.00",2017
Minions,19,Universal,"$1,159.40",2015
Despicable Me 3,32,Universal,"$1,034.80",2017
Jurassic Park,33,Universal,"$1,029.50",1993
Despicable Me 2,41,Universal,$970.80,2013
Spectre,58,Sony,$880.70,2015
The Secret Life of Pets,63,Universal,$875.50,2016
Inside Out,69,Buena Vista,$857.60,2015
E.T.: The Extra-Terrestrial,84,Universal,$792.90,1982
Fast & Furious 6,86,Universal,$788.70,2013
Mission: Impossible - Rogue Nation,118,Paramount,$682.70,2015
The Hunger Games: Mockingjay - Part 2,130,Lionsgate,$653.40,2015
Sing,134,Universal,$634.20,2016
The Martian,137,Fox,$630.20,2015
Fast Five,138,Universal,$626.10,2011
The Lost World: Jurassic Park,146,Universal,$618.60,1997
Mamma Mia!,148,Universal,$609.90,2008
Fifty Shades of Grey,165,Universal,$571.00,2015
King Kong,172,Universal,$550.50,2005
Ted,173,Universal,$549.40,2012
Cinderella,180,Buena Vista,$543.50,2015
Despicable Me,181,Universal,$543.10,2010
The Revenant,186,Fox,$533.00,2015
How to Train Your Dragon: The Hidden World,199,Universal,$519.80,2019
Ant-Man,200,Buena Vista,$519.30,2015
...,...,...,...,...
2 Fast 2 Furious,632,Universal,$236.40,2003
Spy,637,Fox,$235.70,2015
American Pie,638,Universal,$235.50,1999
American Reunion,639,Universal,$235.00,2012
Alvin and the Chipmunks: The Road Chip,641,Fox,$234.80,2015
American Wedding,648,Universal,$231.40,2003
Mr. Bean's Holiday,654,Universal,$229.70,2007
Goodbye Mr. Loser,658,CL,$228.10,2015
Out of Africa,662,Universal,$227.50,1985
The Secret Life of Pets 2,670,Universal,$225.90,2019
Non-Stop,678,Universal,$222.80,2014
It's Complicated,692,Universal,$219.10,2009
Knocked Up,693,Universal,$219.10,2007
Dracula Untold,699,Universal,$217.10,2014
Ted 2,702,Universal,$216.70,2015
Twins,704,Universal,$216.60,1988
Public Enemies,719,Universal,$214.10,2009
The Bourne Identity,720,Universal,$214.00,2002
End of Days,732,Universal,$212.00,1999
Bridget Jones's Baby,733,Universal,$212.00,2016
Red Dragon,744,Universal,$209.20,2002
Tomorrowland,745,Buena Vista,$209.20,2015
Safe House,748,Universal,$208.10,2012
The Fast and the Furious,751,Universal,$207.30,2001
A Dog's Purpose,762,Universal,$205.00,2017
The Break-Up,763,Universal,$205.00,2006
Everest,766,Universal,$203.40,2015
Patch Adams,772,Universal,$202.30,1998
Kindergarten Cop,775,Universal,$202.00,1990
Straight Outta Compton,776,Universal,$201.60,2015

In [39]:
before_1975 = movies["Year"] < 1975
movies[before_1975]

                    Rank           Studio     Gross  Year
Title
The Exorcist         252  Warner Brothers  $441.30   1973
Gone with the Wind   288              MGM  $402.40   1939
Bambi                540              RKO  $267.40   1942
The Godfather        604        Paramount  $245.10   1972
101 Dalmatians       708      Buena Vista  $215.90   1961
The Jungle Book      755      Buena Vista  $205.80   1967

In [42]:
time_range = movies["Year"].between(1983, 1986)
movies[time_range]

                                      Rank     Studio     Gross  Year
Title
Return of the Jedi                     222        Fox  $475.10   1983
Back to the Future                     311  Universal  $381.10   1985
Top Gun                                357  Paramount  $356.80   1986
Indiana Jones and the Temple of Doom   403  Paramount  $333.10   1984
Crocodile Dundee                       413  Paramount  $328.20   1986
Beverly Hills Cop                      432  Paramount  $316.40   1984
Rocky IV                               467        MGM  $300.50   1985
Rambo: First Blood Part II             469    TriStar  $300.40   1985
Ghostbusters                           485   Columbia  $295.20   1984
Out of Africa                          662  Universal  $227.50   1985

In [44]:
has_dark_in_title = movies.index.str.lower().str.contains("dark")
movies[has_dark_in_title]

                                Rank           Studio       Gross  Year
Title
Transformers: Dark of the Moon    23        Paramount  $1,123.80   2011
The Dark Knight Rises             27  Warner Brothers  $1,084.90   2012
The Dark Knight                   39  Warner Brothers  $1,004.90   2008
Thor: The Dark World             132      Buena Vista    $644.60   2013
Star Trek Into Darkness          232        Paramount    $467.40   2013
Fifty Shades Darker              309        Universal    $381.50   2017
Dark Shadows                     600  Warner Brothers    $245.50   2012
Dark Phoenix                     603              Fox    $245.10   2019

In [46]:
movies["Gross"].str.replace("$", "").str.replace(",", "")

Title
Avengers: Endgame                                2796.30
Avatar                                           2789.70
Titanic                                          2187.50
Star Wars: The Force Awakens                     2068.20
Avengers: Infinity War                           2048.40
Jurassic World                                   1671.70
Marvel's The Avengers                            1518.80
Furious 7                                        1516.00
Avengers: Age of Ultron                          1405.40
Black Panther                                    1346.90
Harry Potter and the Deathly Hallows Part 2      1341.70
Star Wars: The Last Jedi                         1332.50
Jurassic World: Fallen Kingdom                   1309.50
Frozen                                           1276.50
Beauty and the Beast                             1263.50
Incredibles 2                                    1242.80
The Fate of the Furious                          1236.00
Iron Man 3                                       1214.80
Minions                                          1159.40
Captain America: Civil War                       1153.30
Aquaman                                          1148.00
Captain Marvel                                   1128.30
Transformers: Dark of the Moon                   1123.80
The Lord of the Rings: The Return of the King    1119.90
Skyfall                                          1108.60
Transformers: Age of Extinction                  1104.10
The Dark Knight Rises                            1084.90
Toy Story 3                                      1067.00
Pirates of the Caribbean: Dead Man's Chest       1066.20
Rogue One: A Star Wars Story                     1056.10
                                                   ...
Philadelphia                                      206.70
Sleepy Hollow                                     206.10
The Jungle Book                                   205.80
London Has Fallen                                 205.80
Journey to the West                               205.60
JFK                                               205.40
White House Down                                  205.40
The Ugly Truth                                    205.30
The Holiday                                       205.10
A Dog's Purpose                                   205.00
The Break-Up                                      205.00
Eat Pray Love                                     204.60
King Arthur                                       203.60
Everest                                           203.40
Vanilla Sky                                       203.40
Arrival                                           203.40
Need for Speed                                    203.30
Hairspray                                         202.50
Ponyo                                             202.40
Patch Adams                                       202.30
Fun with Dick and Jane                            202.00
Teenage Mutant Ninja Turtles                      202.00
Kindergarten Cop                                  202.00
Straight Outta Compton                            201.60
21 Jump Street                                    201.60
Yogi Bear                                         201.60
Garfield: The Movie                               200.80
Cats & Dogs                                       200.70
The Hunt for Red October                          200.50
Valkyrie                                          200.30
Name: Gross, Length: 782, dtype: object

In [48]:
movies["Gross"].str.replace("$", "").str.replace(",", "").astype(float)

Title
Avengers: Endgame                                2796.3
Avatar                                           2789.7
Titanic                                          2187.5
Star Wars: The Force Awakens                     2068.2
Avengers: Infinity War                           2048.4
Jurassic World                                   1671.7
Marvel's The Avengers                            1518.8
Furious 7                                        1516.0
Avengers: Age of Ultron                          1405.4
Black Panther                                    1346.9
Harry Potter and the Deathly Hallows Part 2      1341.7
Star Wars: The Last Jedi                         1332.5
Jurassic World: Fallen Kingdom                   1309.5
Frozen                                           1276.5
Beauty and the Beast                             1263.5
Incredibles 2                                    1242.8
The Fate of the Furious                          1236.0
Iron Man 3                                       1214.8
Minions                                          1159.4
Captain America: Civil War                       1153.3
Aquaman                                          1148.0
Captain Marvel                                   1128.3
Transformers: Dark of the Moon                   1123.8
The Lord of the Rings: The Return of the King    1119.9
Skyfall                                          1108.6
Transformers: Age of Extinction                  1104.1
The Dark Knight Rises                            1084.9
Toy Story 3                                      1067.0
Pirates of the Caribbean: Dead Man's Chest       1066.2
Rogue One: A Star Wars Story                     1056.1
                                                  ...
Philadelphia                                      206.7
Sleepy Hollow                                     206.1
The Jungle Book                                   205.8
London Has Fallen                                 205.8
Journey to the West                               205.6
JFK                                               205.4
White House Down                                  205.4
The Ugly Truth                                    205.3
The Holiday                                       205.1
A Dog's Purpose                                   205.0
The Break-Up                                      205.0
Eat Pray Love                                     204.6
King Arthur                                       203.6
Everest                                           203.4
Vanilla Sky                                       203.4
Arrival                                           203.4
Need for Speed                                    203.3
Hairspray                                         202.5
Ponyo                                             202.4
Patch Adams                                       202.3
Fun with Dick and Jane                            202.0
Teenage Mutant Ninja Turtles                      202.0
Kindergarten Cop                                  202.0
Straight Outta Compton                            201.6
21 Jump Street                                    201.6
Yogi Bear                                         201.6
Garfield: The Movie                               200.8
Cats & Dogs                                       200.7
The Hunt for Red October                          200.5
Valkyrie                                          200.3
Name: Gross, Length: 782, dtype: float64

In [49]:
movies["Gross"] = movies["Gross"].str.replace("$", "").str.replace(",", "").astype(float)

In [51]:
movies["Gross"].mean()

439.0308184143226

In [53]:
studios = movies.groupby("Studio")

In [55]:
studios["Gross"].sum().head()

Studio
Artisan                     248.6
Buena Vista               73585.0
CL                          228.1
China Film Corporation      699.8
Columbia                   1276.6
Name: Gross, dtype: float64

In [56]:
studios["Gross"].sum().sort_values(ascending=False).head()

Studio
Buena Vista        73585.0
Warner Brothers    58643.8
Fox                50420.8
Universal          44302.3
Sony               32822.5
Name: Gross, dtype: float64